MONGO_URI=
PORT=8000
ORIGIN=http://localhost:3000
SECRET_KEY=
LOGIN_TOKEN_EXPIRATION=
PASSWORD_RESET_TOKEN_EXPIRATION=
COOKIE_EXPIRATION_DAYS=
OTP_EXPIRATION_TIME=
PRODUCTION=false
EMAIL_USER=
EMAIL_PASS=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
